.logo {
    width: 30px;
    margin-right: 4px;
}

.search {
    display: flex;
}

.search input {
    flex: 1;
}

.search-links ul {
    list-style: none;
    display: flex;
    margin: 0;
}

.search-link {
    text-decoration: none;
    color: dodgerblue;
    margin-right: 4px;
}
